*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Patrick Hand", cursive;
}

.container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interface-block {
  width: 62.5%;
  height: 800px;
  margin-left: 2.5%;
  border: 2px solid #333333;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px -5px #b4b4b4;
          box-shadow: 0px 0px 20px -5px #b4b4b4;
}

.header {
  width: 80%;
  height: 75px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid #333333;
  -webkit-box-shadow: 0px 0px 20px -5px #b4b4b4;
          box-shadow: 0px 0px 20px -5px #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 250px;
  height: 50px;
  font-size: 32px;
  padding-top: 5px;
  margin-left: 1%;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}

@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}
@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
.settings-block {
  width: 15%;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px -5px #b4b4b4;
          box-shadow: 0px 0px 20px -5px #b4b4b4;
}

.settings-block__button {
  width: 100%;
  height: 10%;
  padding-left: 5%;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-size: 24px;
}
.settings-block__button:hover {
  cursor: pointer;
  background-color: #eeeeee;
  border-bottom: 2px dashed #ffffff;
  border-top: 2px dashed #ffffff;
}
.settings-block__button:nth-child(2) {
  margin-top: 5%;
}
.settings-block__button:nth-child(2):hover {
  color: #0066ff;
}
.settings-block__button:nth-child(2):hover::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/styles/img/study-mode__logo_hover.png");
  background-size: cover;
}
.settings-block__button:nth-child(2)::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/styles/img/study-mode__logo.png");
  background-size: cover;
}
.settings-block__button:nth-child(3):hover {
  color: #ed0a3f;
}
.settings-block__button:nth-child(3):hover::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/styles/img/repeat-mode__logo_hover.png");
  background-size: cover;
}
.settings-block__button:nth-child(3)::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/styles/img/repeat-mode__logo.png");
  background-size: cover;
}
.settings-block__button:nth-child(4):hover {
  color: #652dc1;
}
.settings-block__button:nth-child(4):hover::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/styles/img/setting__logo_hover.png");
  background-size: cover;
}
.settings-block__button:nth-child(4)::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/styles/img/setting__logo.png");
  background-size: cover;
}

.settings-block__button-text {
  margin-left: 5%;
}

.settings-block__button_active {
  background-color: #eeeeee;
  border-bottom: 2px dashed #ffffff;
  border-top: 2px dashed #ffffff;
}
.settings-block__button_active:nth-child(2) {
  margin-top: 5%;
  color: #0066ff;
}
.settings-block__button_active:nth-child(2)::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/styles/img/study-mode__logo_hover.png");
  background-size: cover;
}
.settings-block__button_active:nth-child(3) {
  color: #ed0a3f;
}
.settings-block__button_active:nth-child(3)::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/styles/img/repeat-mode__logo_hover.png");
  background-size: cover;
}
.settings-block__button_active:nth-child(4) {
  color: #652dc1;
}
.settings-block__button_active:nth-child(4)::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/styles/img/setting__logo_hover.png");
  background-size: cover;
}

.profile-block {
  width: 100%;
  height: 40%;
  background-color: #eeeeee;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0px -10px 30px -24px #b4b4b4 inset;
          box-shadow: 0px -10px 30px -24px #b4b4b4 inset;
}
.profile-block p {
  font-size: 22px;
  margin-top: 10px;
}
.profile-block span {
  color: #7d7d7d;
}

.profile-block__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.authorized-user__block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.authorization-block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.authorization-block p {
  font-weight: 600;
  margin-bottom: 3%;
}
.authorization-block input {
  width: 60%;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 5%;
  -webkit-box-shadow: 0px 0px 10px -5px #7d7d7d;
          box-shadow: 0px 0px 10px -5px #7d7d7d;
  font-size: 18px;
}

.profile-block__submit-btn {
  margin-top: 4%;
  margin-bottom: 5%;
  background-color: #eeeeee;
  border: 2px dashed #333333 !important;
  border-radius: 0 !important;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.profile-block__submit-btn:hover {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.profile-block_hidden {
  display: none;
}

.study-mode-block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.levels-block {
  width: 95%;
  height: 15%;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 2px solid #333333;
  margin-top: 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.levels-block__level {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.levels-block__level:hover {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px #333333;
          box-shadow: 0px 0px 20px 0px #333333;
  scale: 1.2;
}
.levels-block__level:nth-child(1) {
  margin-left: 2%;
}
.levels-block__level:nth-last-child(1) {
  margin-right: 2%;
}

.levels-block__level-img {
  width: 50px;
  height: 50px;
}

.levels-block__level-name {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.progress-bar {
  margin-top: 0.5%;
  width: 94%;
  height: 5px;
  background: #eeeeee;
}

.progress-bar__value {
  height: 100%;
  width: 7%;
  background-color: #b4b4b4;
}

.study-mode__container {
  width: 95%;
  height: 75%;
  margin-top: 31px;
  border: 2px dashed #eeeeee;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.study-mode__statistics {
  width: 100%;
  height: 30px;
  padding: 0 2% 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.study-mode__statistics p {
  font-size: 24px;
  color: #333333;
}
.study-mode__statistics span {
  font-weight: 600;
  color: #7d7d7d;
}

.study-mode__stage-block {
  width: 60%;
  height: 80%;
  margin-bottom: 1%;
  border: 2px dashed #333333;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px -5px #b4b4b4;
          box-shadow: 0px 0px 20px -5px #b4b4b4;
}

.study-mode_hidden-block {
  display: none;
}

.first-stage__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.first-stage__img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin-top: 5%;
}

.first-stage__content {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eeeeee;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0px -5px 10px -6px #b4b4b4;
          box-shadow: 0px -5px 10px -6px #b4b4b4;
}

.first-stage__info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 100%;
}

.first-stage__word {
  font-size: 46px;
  margin-left: 5%;
}

.first-stage__translation {
  margin-left: 5%;
  font-size: 32px;
  color: #7d7d7d;
}

.first-stage__next-btn {
  margin-right: 3.5%;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  background: url("/styles/img/next.png");
  background-size: cover;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.first-stage__next-btn:hover {
  cursor: pointer;
  scale: 1.1;
}

.first-stage__audio-btn {
  margin-top: 10px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  background: url("/styles/img/play.png");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.first-stage__audio-btn:hover {
  scale: 1.1;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */