// Palette
// Main colors

$black: #333333;
$dark-gray: #7d7d7d;
$gray: #b4b4b4;
$light-gray: #eeeeee;
$white: #ffffff;

// Accents

$red: #ed0a3f;
$orange: #ff8833;
$dandelion: #fed85d;
$inchworm: #afe313;
$green: #3aa655;
$carribean-green: #00cc99;
$robins-egg-blue: #00cccc;
$blue: #0066ff;
$purple-heart: #652dc1;
$pink-flamingo: #fc74fd;
$razzmatazz: #e30b5c;
